h1{
          color:red;
     }
body{
	background-color:deepskyblue;
        	font-size:25px;
	padding:20px 105px;
}
input[type=button]{
	font-size:20px;
	padding:8px 20px;
	border-radius:20px;
	background-color:orange;
	color:red;
}
input[type=text]{
	font-size:20px;
	padding:8px 20px;
	border-radius:20px;
}
input[type=answer]{
	font-size:20px;
	padding:8px 20px;
	border-radius:20px;
}